nav {
    position: sticky;
    top: 0;
    opacity: 1;
}

body {
    margin: 0;


}

.sectionwrapper {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vw;
}

img {
    width: 100%;
    border: 5px solid white;
    max-width: 550px;

}

.txt {
    margin-right: 5vw;
    margin-left: 5vw;
}

a {
    font-family: 'CourierNew';
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-family: 'CourierNew';

}

h2 {
    font-family: 'CourierNew';

}

h3 {
    font-family: 'CourierNew';

}

p {
    font-family: 'Lucida';
    line-height: 21px;

}

li {
    font-family: 'Lucida';
    line-height: 21px;

}

@font-face {
    font-family: 'CourierNewBold';
    src: url('font/CourierNewPS-BoldMT.woff2') format('woff2'),
        url('font/CourierNewPS-BoldMT.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'CourierNew';
    src: url('font/CourierNewPSMT.woff2') format('woff2'),
        url('font/CourierNewPSMT.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Lucida';
    src: url('font/LucidaBright.woff2') format('woff2'),
        url('font/LucidaBright.woff') format('woff');
    font-style: normal;
}

#forside .foride_billede {
    background-image: url(billeder/forsidebillede_mobil.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    max-width: none;
    max-height: 160vw;


}


#forsidemenu {
    height: 3vw;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1.4vw;
    padding-left: 50vw;
    padding-right: 5vw;
    background-color: white;

}

#forsidemenu a {
    color: #15647A;
    text-decoration: none;
    font-size: 1.5rem;
    width: 100%;
    text-align: end;


}


#logo {
    width: 70vw;
    margin: auto;
    margin-top: 2vw;
}

#menu {
    background-color: #15647A;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;


}

#menu a {
    color: white;
    text-decoration: none;
    padding: 2vw;
    font-size: 1.4rem;
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 6vw;
    white-space: nowrap;



}

nav {
    background-color: rgb(21, 100, 122);

}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    display: flex;
    color: white;
    margin-left: 2vw;
    padding: 1.5vw;
    font-size: 2rem;



}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    position: absolute;
}

#cover_billede {
    background-size: cover;
    background-image: url(billeder/Screen-16.jpg);
    padding: 4vw;



}

#cover_billede .overskrift {
    color: #15647A;


}

#genvej {
    background-color: #15647A;
}

#genvej h3 {
    padding-top: 1vw;
}

#genvej .boks1 {
    filter: opacity(85%);
}



.boks1 {
    background-image: url(billeder/popart.jpg);
    background-size: 100%;
    border: 6px solid #799EAC;
    width: 70vw;
    height: 70vw;
    margin: auto;
    margin-bottom: 13vw;
    margin-top: 9vw;
    text-align: center;

}



.titelboks1 {
    background-color: #FD874A;
    width: 29vw;
    height: 12vw;
    color: white;
    font-size: 1.3rem;
    position: relative;
    top: 57vw;
    margin: auto;
}

#genvej .boks2 {
    filter: opacity(85%);
}



.boks2 {
    background-image: url(billeder/startskaerm.jpg);
    background-repeat: no-repeat;

    background-size: 100%;
    border: 6px solid #799EAC;
    width: 70vw;
    height: 70vw;
    margin: auto;
    margin-bottom: 13vw;
    text-align: center;

}

.titelboks2 {
    background-color: #FD874A;
    width: 35vw;
    height: 12vw;
    color: white;
    font-size: 1rem;
    position: relative;
    top: 57vw;
    margin: auto;
}

.boks3 {
    background-image: url(billeder/video.PNG);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 6px solid #799EAC;
    width: 70vw;
    height: 70vw;
    margin: auto;
    margin-bottom: 13vw;
    text-align: center;

}

.boks4 {
    background-image: url(billeder/koos.PNG);
    background-size: 100%;
    border: 6px solid #799EAC;
    width: 70vw;
    height: 70vw;
    margin: auto;
    margin-bottom: 13vw;
    text-align: center;


}

#genvej .boks4 {
    filter: opacity(85%);
}


#genvej .boks3 {
    filter: opacity(85%);
}



#genvej .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#genvej .col {
    flex-grow: 1;
    display: flex;
    flex-basis: 200px;
    flex-direction: column;


}



#om {
    background-color: #15647A;
    padding-top: 3vw;
}

#om .image {
    /*
    margin-left: 3vw;
    margin-right: 3vw;
*/
}

#om h1 {
    color: white;

}


#om p {
    color: white;
}

#om,
h1 {
    padding-top: 2vw;

}

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}


#om .col {
    flex-grow: 1;
    flex-basis: 450px;
    padding: 10px;
    margin: 0 15px;

}

#interesser .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#interesser .col {
    flex-grow: 1;
    flex-basis: 450px;
    padding: 10px;
    margin: 0 15px;
}

#interesser img {
    border: 5px solid #15647A;
}

#cv_afsnit {
    background-color: #FD874A;
}



#cv_afsnit .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}


#cv_afsnit .col {
    flex-grow: 1;
    flex-basis: 450px;
    padding: 10px;
    margin: 0 15px;
}

#box {
    background-color: white;
    position: relative;
    padding: 15px 10px 20px;
    border: 5px solid #15647A;
    margin: 2vw;

}

#box.lille {
    overflow: hidden;
    max-height: 150px;
    transition: max-height 0.5s ease-out;
}

#box.stor {
    max-height: 3000px;
    transition: max-height 1s ease-in;
}


/*Laver indhold vha css*/
#box.lille span:after {
    content: "+";
}

span:after {
    content: "-";
}


#mere .plus {
    /*    for at få den nærmere på bunden*/
    margin-top: 40px;

    /*    for at undgå at den opfører sit som et blockelement, og fylder hele bredden. */
    /*    Derved sikrer jeg at jeg kan bruge parrent text-align: center */
    display: inline-block;

    /*    selve plussets farve og størrelse samt baggrund*/
    color: white;
    font-weight: 800;
    width: 20px;
    height: 20px;
    background: #15647A;
}


.gult_overlay {
    /* for at få gradientbaggrunden til at fylde*/
    height: 60px;
    margin: 0;

    /* for at placere gradientbaggrunden i bunden */
    position: absolute;
    bottom: 0;
    left: 0;
    /*    For at sikre at den fylder hele sin parent ud i bredden*/
    width: 100%;

    /*    selve gradienten*/
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(000, 000, 0));
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));

    /*    for at placere plusset i midten*/
    text-align: center;

}

#ux {
    background-color: #15647A;
    padding-top: 2vw;
}

#ux h1 {
    color: white;
}

#ux .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2vw;
    margin-right: 2vw;
}

#ux .col {
    flex-grow: 1;
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: 10px;
    padding: 20px;
    padding-top: 0vw;

}




#ui img {
    width: 8vw;
    border: none;
}

#ui {
    background-color: #403833;
    display: flex;
    justify-content: space-around;
    padding: 2vw;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5vw;
}

#web {
    background-color: #15647A;
    padding-top: 3vw;
}


#web h1 {
    color: white;

}


#web p {
    color: white;
}

#web,
h1 {
    padding-top: 2vw;

}

#web p a {
    color: white;
    text-decoration: underline;
}



#web .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}


#web .col {
    flex-grow: 1;
    flex-basis: 450px;
    padding: 10px;
    margin: 0 15px;

}

#stilart p a {
    color: black;
    text-decoration: underline;
}

#stilart .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#stilart .col {
    flex-grow: 1;
    flex-basis: 450px;
    padding: 10px;
    margin: 0 15px;
}

#stilart img {
    border: 5px solid #15647A;
}

#ovelser {
    background-color: #FD874A;
}



#ovelser .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}


#ovelser .col {
    flex-grow: 1;
    flex-basis: 450px;
    padding: 10px;
    margin: 0 15px;
}

#ovelser a {
    color: white;
}

footer {
    background-color: #403833;
    display: flex;
    justify-content: center;

}

footer img {
    width: 40vw;
    border: none;

}


@media only screen and (min-width: 700px) {
    img {
        max-width: 550px;

    }

    .txt {
        margin-right: 2vw;
        margin-left: 2vw;
        padding-top: 0vw;
        margin-top: 0;
    }

    #genvej .boks1 {
        filter: opacity(65%);
    }

    #genvej .boks1:hover {
        filter: none;
    }

    #genvej .boks2 {
        filter: opacity(65%);
    }

    #genvej .boks2:hover {
        filter: none;
    }

    #genvej .boks4 {
        filter: opacity(65%);
    }

    #genvej .boks4:hover {
        filter: none;
    }

    #genvej .boks3 {
        filter: opacity(65%);
    }

    #genvej .boks3:hover {
        filter: none;
    }

    #om,
    h1 {
        padding-top: 0vw;

    }



    #forside .foride_billede {

        background-image: url(billeder/forsidebillede.jpg);
        width: 100vw;
        height: 100vh;
        background-size: 100%;
        max-width: none;
        max-height: 42vw;
        background-color: #15647A;


    }


    .boks1 {
        width: 20vw;
        height: 20vw;
        margin-top: 0vw;

    }

    .boks2 {
        width: 20vw;
        height: 20vw;


    }

    .boks3 {
        width: 20vw;
        height: 20vw;
    }

    .boks4 {
        width: 20vw;
        height: 20vw;

    }

    .titelboks1 {
        width: 13vw;
        height: 4vw;
        font-size: 1.3rem;
        position: relative;
        top: 17vw;
    }

    .titelboks2 {
        width: 19vw;
        height: 4vw;
        font-size: 1.3rem;
        position: relative;
        top: 17vw;
    }

    #cover_billede {

        padding: 2vw;
        padding-top: 1vw;
        height: 8vw;
        display: flex;
        align-items: center;

    }

    #logo {
        width: 26vw;
        margin-top: 0vw;
        padding: 1vw;
    }

    #web p a:hover {
        color: #FD874A;
    }

    #stilart p a:hover {
        color: #FD874A;
    }
}


@media only screen and (min-width: 800px) {

    #menu {

        height: 3vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        top: 0;

    }

    #menu a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        width: 100%;
        padding-top: 0vw;
        padding-bottom: 0vw;
        text-align: center;




    }

    nav {

        height: 3vw;


    }

    #menu a:hover {
        color: #15647A;
        background-color: #FD874A;
        height: 3vw;
        padding-top: 1.5vw;
        justify-content: center;
    }

    .hidden {
        /*    display: none;*/
        /*    transform: scale(0);*/
        transform: translateX(-100%);
        opacity: 0;
    }

    #menuknap {
        display: inline-block;
    }



    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

    #forsidemenu a:hover {
        color: #15647A;
        height: 3vw;
        padding-top: 1.5vw;
    }

}


@media only screen and (min-width: 900px) {
    #ui img {
        width: 6vw;
    }
}

@media only screen and (min-width: 1100px) {
    #ui img {}

    #forsidemenu {

        padding: 0vw;
        padding-left: 78vw;
        padding-right: 5vw;

    }
}
